# Port for innkommende kommunikasjon, settes som miljøvariabelen SERVER_PORT i Dockerfile
# server.port=${SERVER_PORT}

# Organisasjonens regnr, kan også settes som miljøvariabelen DIFI_MOVE_ORG_NUMBER
difi.move.org.number=${ORG_NR}

# Virksomhetssertifikat 2021
difi.move.org.keystore.alias=${KEYSTORE_ALIAS}
difi.move.org.keystore.password=${KEYSTORE_PASS}
difi.move.org.keystore.path=${KEYSTORE_PATH}
difi.move.org.keystore.type=${KEYSTORE_TYPE}

# eFormidlings meldingstjeneste (DPO)
difi.move.feature.enableDPO=${DPO_ENABLE}
difi.move.dpo.username=${DPO_USERNAME}
difi.move.dpo.password=${DPO_PASSWORD}

# eInnsyn - DIFI_MOVE_FEATURE_ENABLE_DPE
difi.move.feature.enableDPE=${DPE_ENABLE}

# Digital post til innbyggere
difi.move.feature.enableDPI=${DPI_ENABLE}
difi.move.dpi.client-type=json

## Digital post private virksomheter (Settes kun dersom man bruker DPV via integrasjonspunktet. Fjern utkommentering (#))
##----------------------------------
difi.move.feature.enableDPV=${DPV_ENABLE}
difi.move.dpv.username=${DPV_USERNAME}
difi.move.dpv.password=${DPV_PASSWORD}

# Autentisering (HTTP Basic Auth)
difi.security.enable=${AUTH_ENABLE}
difi.security.user.name=${AUTH_USERNAME}
difi.security.user.password=${AUTH_PASSWORD}

# Database-oppsett
difi.datasource.url=${DB_URL}
difi.datasource.username=${DB_USERNAME}
difi.datasource.password=${DB_PASSWORD}
# Lagre meldinger i databasen
difi.move.nextmove.useDbPersistence=true

# Meldingskø
difi.activemq.broker-url=vm://localhost

## FIKS - SvarUt/SvarInn (Settes kun ved bruk av SvarUt/SvarInn)
##----------------------
difi.move.feature.enableDPF=${DPF_ENABLE}

## SvarUt Mottak
difi.move.fiks.inn.username=${SVARINN_USER}
difi.move.fiks.inn.password=${SVARINN_PASSWORD}

## SvarUt Avsender
difi.move.fiks.ut.username=${SVARUT_USER}
difi.move.fiks.ut.password=${SVARUT_PASSWORD}

## innstillinger for fiks mailsending
difi.move.mail.smtpHost=${MAIL_HOST}
difi.move.mail.smtpPort=${MAIL_PORT}
difi.move.mail.receiverAddress=${MAIL_TO}
difi.move.mail.senderAddress=${MAIL_FROM}
difi.move.mail.properties.mail.smtp.starttls=${MAIL_TLS}
difi.move.fiks.inn.mailOnError=${MAIL_ONERROR}
difi.move.mail.enableAuth=${MAIL_AUTH}
difi.move.mail.trust=${difi.move.mail.smtpHost}
