#Fyll inn lokale vedier der de mangler
#navnet skal være: integrasjonspunkt-local.properties

server.port=${SERVER_PORT}
difi.move.org.number=${ORG_NUMBER}

# Virksomhetssertifikat 2021
difi.move.org.keystore.alias=${KEYSTORE_ALIAS}
difi.move.org.keystore.password=${KEYSTORE_PASS}
difi.move.org.keystore.path=${KEYSTORE_PATH}
difi.move.org.keystore.type=${KEYSTORE_TYPE}

#eInnsyn
difi.move.feature.enableDPE=${DPE_ENABLE}

# Digital post til innbyggere
difi.move.feature.enableDPI=${DPI_ENABLE}

## Digital post private virksomheter (Settes kun dersom man bruker DPV via integrasjonspunktet. Fjern utkommentering (#))
##----------------------------------
difi.move.feature.enableDPV=${DPV_ENABLE}
difi.move.dpv.username=${DPV_USERNAME}
difi.move.dpv.password=${DPV_PASSWORD}

# Autentisering (HTTP Basic Auth)
difi.security.enable=${AUTH_ENABLE}
difi.security.user.name=${AUTH_USERNAME}
dif.security.user.password=${AUTH_PASSWORD}

# Database-oppsett
difi.datasource.url=${DB_URL}
difi.datasource.username=${DB_USERNAME}
difi.datasource.password=${DB_PASSWORD}
# Lagre meldinger i databasen
difi.move.nextmove.useDbPersistence=true

# Meldingskø
difi.activemq.broker-url=vm://localhost

## FIKS - SvarUt/SvarInn (Settes kun ved bruk av SvarUt/SvarInn)
##----------------------
#difi.move.feature.enableDPF=true

## SvarInn (mottaker)
#difi.move.fiks.inn.username=
#difi.move.fiks.inn.password=

## SvarUt (avsender)
#difi.move.fiks.ut.username=
#difi.move.fiks.ut.password=

## innstillinger for fiks mailsending
#difi.move.mail.smtpHost=
#difi.move.mail.smtpPort=
#difi.move.mail.receiverAddress=
#difi.move.mail.senderAddress=
#difi.move.fiks.inn.mailOnError=false
#difi.move.mail.enableAuth=false
#difi.move.mail.trust=${difi.move.mail.smtpHost}
