#!/command/with-contenv bash

echo "####################################################"
echo "    D I B K    I N T E G R A S J O N S P U N K T"
echo "####################################################"
echo "Docker-konteiner for Azure Web App med:"
echo "  - Digdir Integrasjonspunkt v${APP_VERSION} (port ${SERVER_PORT})"
echo "  - SSH (port 2222)"
echo "-----------------------------------------------------"
echo ""
