name: Bygg Staging og Production

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "4 7 */2 * *"
    
env:
  acrPath: /app/integrasjonspunkt
  appDir: /app
  s6version: '3.2.1.0'
  # mavenRepo: 'https://repo1.maven.org/maven2/no/difi/meldingsutveksling/integrasjonspunkt'
  certsUrl: 'https://github.com/felleslosninger/docs/raw/gh-pages/resources/begrep/sikkerDigitalPost/sikkerhet/sertifikater/prod'
  altinnPort: 443
  default_ttl: '24'
  platforms: 'linux/amd64' # ,linux/arm64'

permissions:
  id-token: write
  contents: read

jobs:
  forberedelse:
    runs-on:
      - self-hosted
    outputs:
      appVersion: ${{ var.APP_VERSION }}
      sha_short: ${{ steps.build_vars.outputs.sha_short }}
      build_date: ${{ steps.build_vars.outputs.build_date }}
      build_date_long: ${{ steps.build_vars.outputs.build_date_long }}
    steps:
    - uses: actions/checkout@v6

    - name: Sett byggevariabler
      id: build_vars
      run: |
        curl -Lso maven-metadata.xml "${{ env.mavenRepo }}/maven-metadata.xml"
        appVersion=$(sed -ne '/latest/{s/.*<latest>\(.*\)<\/latest>.*/\1/p;q;}' <<< cat maven-metadata.xml)
        if [[ "$appVersion" =~ "beta" ]]; then
          appVersion=${{ vars.JAR_VERSION }}
        fi
        echo "appVersion=${appVersion}" >> $GITHUB_OUTPUT
        echo "build_date=$(date '+%Y%m%d')" >> $GITHUB_OUTPUT
        echo "build_date_long=$(date '+%Y%m%d_%H%M')" >> $GITHUB_OUTPUT
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        mkdir -p cache

    - name: Hent henter inn bygde filer fra cache
      id: app-cache
      uses: actions/cache@v4
      env:
        cache-name: ip-app-jar
      with:
        path: ./app.jar
        key: ${{env.cache-name}}-${{ steps.build_vars.outputs.appVersion }}
        restore-keys: ${{ env.cache-name }}-

    - name: Last ned integrasjonspunktets jar-fil og CA-sertifikater
      if: steps.app-cache.outputs.cache-hit != 'true'
      run: | 
        curl -Lso ./app.jar ${{ env.mavenRepo }}/${{ steps.build_vars.outputs.appVersion }}/integrasjonspunkt-${{ steps.build_vars.outputs.appVersion }}.jar


  bygging:
    needs: forberedelse
    strategy:
      matrix:
        environment:
          # - production
          - staging
    environment: ${{ matrix.environment }}
    runs-on:
      - self-hosted
      - macOS
    concurrency:
      group: integrasjonspunkt-${{ matrix.environment }}-build
      cancel-in-progress: true

    steps:

    - uses: actions/checkout@v6

    - name: Henter inn app.jar fra cache
      id: app-cache
      uses: actions/cache@v4
      env:
        cache-name: ip-app-jar
      with:
        path: ./app.jar
        key: ${{env.cache-name}}-${{ matrix.environment }}-${{vars.APP_VERSION }}
        restore-keys: ${{ env.cache-name }}-

    - name: Lås opp nøkkelring
      run: security -v unlock-keychain -p ${{ secrets.MACOS_KC_PASS }} ~/Library/Keychains/login.keychain-db

    - name: Innlogging til Azure CLI (OIDC)
      uses: azure/login@v2
      with:
        client-id: ${{ vars.DIBK_GITHUBACTIONS_SP_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBID_INTERNAL }}

    - name: Login to ACR
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.ACR }}
        username: ${{ vars.ACRTOKENNAME }}
        password: ${{ secrets.ACRTOKEN }}

    - uses: azure/appservice-settings@v1
      with:
        app-name: 'my-app'
        # slot-name: ${{ matrix.environment }}  # Optional and needed only if the settings have to be configured on the specific deployment slot
        app-settings-json: '${{ secrets.APP_SETTINGS }}' 
        connection-strings-json: '${{ secrets.CONNECTION_STRINGS }}'
      id: settings

    # - name: Logg inn på registry
    #   run: |
    #     acrname=${{ vars.ACR }}
    #     shortname="${acrname%%.*}"
    #     az acr login -n $shortname

    - name: Henter virksomhetssertifikat fra Key Vault og setter passord på det
      run: |
        az keyvault secret download --encoding base64 --name ${{ vars.AZURE_KV_CERT_NAME }} --file vs.p12 --vault-name ${{ vars.KEYVAULT_NAME }}
        openssl pkcs12 -in vs.p12 -passin pass: -nodes -out vs-auth.pem
        openssl pkcs12 -export -in vs-auth.pem -out ${{ vars.KEYSTORE_FILE }} -passout pass:${{secrets.KEYSTORE_PASS}} -name ${{vars.KEYSTORE_ALIAS}}
        rm vs-auth.pem vs.p12
    
    - name: Last ned CA-sertifikater
      if: steps.app-cache.outputs.cache-hit != 'true'
      run: | 
        curl -Lso docker/trustcerts/BuyPassClass3RootCA.cer "${{ env.certsUrl }}/BPClass3RootCA.cer"
        curl -Lso docker/trustcerts/CommfidesClass3RootCA.cer "${{ env.certsUrl }}/cpn%20rootca%20sha256%20class%203.crt"
        openssl s_client -connect ${{vars.ALTINN_HOST}}:${{env.altinnPort}} < /dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' > docker/trustcerts/${{vars.ALTINN_HOST}}.cer

    - name: Befolker properties og motd
      env:
        APP_VERSION: ${{steps.build_vars.outputs.appVersion}}
        APP_ENV: ${{vars.APP_ENV}}
        SERVER_PORT: ${{vars.SERVER_PORT}}
        ORG_NR: ${{vars.ORG_NR}}
        KEYSTORE_ALIAS: ${{vars.KEYSTORE_ALIAS}}
        KEYSTORE_PASS: ${{secrets.KEYSTORE_PASS}}
        KEYSTORE_PATH: file:${{vars.KEYSTORE_FILE}}
        KEYSTORE_TYPE: ${{vars.KEYSTORE_TYPE}}
        DPO_ENABLE: ${{vars.DPO_ENABLE}}
        DPO_USERNAME: ${{vars.DPO_USERNAME}}
        DPO_PASSWORD: ${{secrets.DPO_PASSWORD}}
        DPE_ENABLE: ${{vars.DPE_ENABLE}}
        DPI_ENABLE: ${{vars.DPI_ENABLE}}
        DPV_ENABLE: ${{vars.DPV_ENABLE}}
        DPV_USERNAME: ${{vars.DPV_USERNAME}}
        DPV_PASSWORD: ${{secrets.DPV_PASSWORD}}
        AUTH_ENABLE: ${{vars.AUTH_ENABLE}}
        AUTH_USERNAME: ${{vars.AUTH_USERNAME}}
        AUTH_PASSWORD: ${{secrets.AUTH_PASSWORD}}
        DB_URL: ${{vars.DB_URL}}
        DB_USERNAME: ${{vars.DB_USERNAME}}
        DB_PASSWORD: ${{secrets.DB_PASSWORD}}
        DPF_ENABLE: ${{vars.DPF_ENABLE}}
        SVARINN_USER: ${{vars.SVARINN_USER}}
        SVARUT_USER: ${{vars.SVARUT_USER}}
        SVARINN_PASSWORD: ${{secrets.SVARINN_PASSWORD}}
        SVARUT_PASSWORD: ${{secrets.SVARUT_PASSWORD}}
        MAIL_HOST: ${{vars.MAIL_HOST}}
        MAIL_PORT: ${{vars.MAIL_PORT}}
        MAIL_TO: ${{vars.MAIL_TO}}
        MAIL_FROM: ${{vars.MAIL_FROM}}
        MAIL_TLS: ${{vars.MAIL_TLS}}
        MAIL_ONERROR: ${{vars.MAIL_ONERROR}}
        MAIL_AUTH: ${{vars.MAIL_AUTH}}
        MAIL_USER: ${{vars.MAIL_USER}}
        MAIL_PASSWORD: ${{secrets.MAIL_PASSWORD}}
        MESSAGE_TTL: ${{ vars.MESSAGE_TTL || env.default_ttl }}
      run: |
        envsubst < "integrasjonspunkt-local.properties.dist" > "integrasjonspunkt-local.properties"
        envsubst < "docker/motd.template" > "docker/motd.sh"

    - name: Setter metadata for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
          # list of Docker images to use as base name for tags
        images: |
          ${{ vars.ACR }}${{ env.acrPath }}         
        # generate Docker tags based on the following events/attributes
        tags: |
          # Kort SHA > 'sha-xxxxxx'
          type=sha,prefix=${{ matrix.environment }}-,format=short
          type=raw,value=${{needs.forberedelse.outputs.appVersion}}-${{ matrix.environment }}

    - name: Oppsett av Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: integrasjonspunkt-builder
        driver: docker-container

    # - name: Login to Docker Hub
    #   uses: docker/login-action@v3
    #   with:
    #     registry: ${{ vars.ACR }}
    #     username: ${{ vars.ACRTOKENNAME }}
    #     password: ${{ secrets.ACRTOKEN }}

    - name: Bygg og push
      uses: docker/build-push-action@v6
      with:
        platforms: ${{ env.platforms }}
        push: true
        file: docker/Dockerfile
        context: .
        build-args: |
          APP_VERSION=${{ steps.getAppVersion.outputs.appVersion }}
          APP_DIR=${{ env.appDir }}
          APP_ENV=${{ vars.APP_ENV }}
          SERVER_PORT=${{ vars.SERVER_PORT }}
          S6_OVERLAY_VERSION=${{ env.s6version }}

        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Feilmelding til Teams
      if: failure()
      uses: carriquiry-g/ms-teams-notification@v2 # https://github.com/marketplace/actions/microsoft-teams-channel-notification
      with:
        github-token: ${{ github.token }} # this will use the runner's token.
        ms-teams-webhook-uri: ${{ secrets.TEAMS_DRIFTSMELDINGER_WEBHOOK_URI }}
        notification-summary: Feil under bygging av Docker-image
        notification-style: attention
        timezone: Europe/Oslo
        verbose-logging: false

  # utrulling:
  #   runs-on: self-hosted
  #   needs: bygging
  #   strategy:
  #     matrix:
  #       environment:
  #         - production
  #         - staging
  #   environment: 
  #     name: ${{ matrix.environment }}
  #     url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

  #   steps:
  #   - name: Deploy to Azure Web App
  #     id: deploy-to-webapp
  #     uses: azure/webapps-deploy@v2
  #     with:
  #       app-name: 'dibk-ip-prod'
  #       slot-name: ${{ matrix.environment }}
  #       publish-profile: ${{ secrets.AzureAppService_PublishProfile_8e31a0a286fe4f0a9fc10228293a10a9 }}
  #       images: '${{ vars.ACR }}${{ env.acrPath }}:${{ vars.APP_ENV }}-${{needs.bygging.outputs.sha_short}}'

  #   - name: Feilmelding til Teams
  #     if: failure()
  #     uses: carriquiry-g/ms-teams-notification@v2 # https://github.com/marketplace/actions/microsoft-teams-channel-notification
  #     with:
  #       github-token: ${{ github.token }} # this will use the runner's token.
  #       ms-teams-webhook-uri: ${{ secrets.TEAMS_DRIFTSMELDINGER_WEBHOOK_URI }}
  #       notification-summary: '${{ matrix.environment }}: Feil under utrulling til Azure'
  #       notification-style: attention
  #       timezone: Europe/Oslo
  #       verbose-logging: false
